
<!-- Navigation -->
<div class="navbar bs-docs-nav" role="banner">
	<div class="container">
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Baby <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="general.html">Onesies (Printed)</a></li>
						<li><a href="general.html">Onesies (Felted)</a></li>
						<li><a href="login.html">Dummy Clips</a></li>
						<li><a href="register.html">Hats</a></li>
						<li><a href="blog.html">Headbands</a></li>
						<li><a href="blog-single.html">Covers</a></li>
						<li><a href="404.html">Shoes</a></li>
						<li><a href="404.html">Bandana Bibs</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Kids <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="items.html">Hats</a></li>
						<li><a href="items.html">T-Shirts (Printed)</a></li>
						<li><a href="items.html">T-Shirts (Felted)</a></li>
						<li><a href="items.html">Headbands</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Adult <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="items.html">Hats</a></li>
						<li><a href="items.html">T-Shirts (Printed)</a></li>
						<li><a href="items.html">T-Shirts (Felted)</a></li>
						<li><a href="items.html">Jewelry</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">For The Home <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="items.html">Samsung</a></li>
						<li><a href="items.html">Micromax</a></li>
						<li><a href="items.html">Apple</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="items.html">Samsung</a></li>
						<li><a href="items.html">Micromax</a></li>
						<li><a href="items.html">Apple</a></li>
					</ul>
				</li>     				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="myaccount.html">My Account</a></li>
						<li><a href="view-cart.html">View Cart</a></li>
						<li><a href="checkout.html">Checkout</a></li>
						<li><a href="wish-list.html">Wish List</a></li>
						<li><a href="order-history.html">Order History</a></li>
						<li><a href="edit-profile.html">Edit Profile</a></li>
						<li><a href="confirmation.html">Confirmation</a></li>
					</ul>
				</li>                   
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</div>
<!--/ Navigation End -->