<div class="sitem">
  <div class="onethree-left">
	<a href="single-item.html"><img src="img/photos/4.png" alt="" class="img-responsive" /></a>
  </div>
  <div class="onethree-right">
	<a href="single-item.html">{{item.product_name}}</a>
	<p>{{item.description}}</p>
	<div class="item-price">{{item.price|curreny}}</div>
  </div>
  <div class="clearfix"></div>
</div>