		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 
				
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="/js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="/js/bootstrap.min.js"></script> 
		<script src="/js/owl.carousel.min.js"></script> 
		<script src="/js/filter.js"></script> 
		<!-- Flex slider -->
		<script src="/js/jquery.flexslider-min.js"></script> 
		<!-- Sidebar navigation -->
		<script src="/js/nav.js"></script> 
		<!-- Respond JS for IE8 -->
		<script src="/js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="/js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="/js/custom.js"></script>
