	<head>
		<meta charset="utf-8">
		<!-- Title here -->
		<title>Love My Home Shop</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="Mark Hewitt Using ResponsiveWebInc MacKart Bootstrap Template">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!-- Flex slider -->
		<link href="/css/flexslider.css" rel="stylesheet">
		<link href="/css/owl.carousel.css" rel="stylesheet">	
		<link href="/css/font-awesome.min.css" rel="stylesheet">		
		<!-- Sidebar nav -->
		<link href="/css/sidebar-nav.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="/css/style.css" rel="stylesheet">
		<!-- Stylesheet for Color -->
		<link href="/css/lmh.css" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="/img/favicon/favicon.png">
	</head>
